
**/node_modules/
**/static/default/css/
**/static/default/js/
**/static/default/fonts/

**/static/fr_FR/css/
**/static/fr_FR/js/
**/static/fr_FR/fonts/

**/static/it_IT/css/
**/static/it_IT/js/
**/static/it_IT/fonts/

**/static/ja_JP/css/
**/static/ja_JP/js/
**/static/ja_JP/fonts/

**/static/zh_CN/css/
**/static/zh_CN/js/
**/static/zh_CN/fonts/

**/static/en_GB/css/
**/static/en_GB/js/
**/static/en_GB/fonts/

coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
